body {
    background-color: #f2f2f2;
    color: #001c58;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container {
    max-width: 400px;
    width: 100%;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.login-form {
    margin-bottom: 15px;
}
.login-form input[type="text"],
.login-form input[type="password"] {
    background-color: white;
    color: #001c58;
    border: 1px solid #ff4f00;
    border-radius: 5px;
}
.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
    border-color: #ff4f00;
    box-shadow: 0 0 5px rgba(208, 104, 27, 0.5); 
    outline: none;
}
.login-form input[type="text"]::placeholder,
.login-form input[type="password"]::placeholder {
    color: #001c58;
}
.login-form input[type="submit"] {
    background-color: #ff4f00;
    border: none;
    border-radius: 5px;
}
.login-form input[type="submit"]:hover {
    background-color: #292929;
}
.logo-container {
    text-align: center;
    margin-bottom: 30px;
}
.logo-container img {
    max-width: 150px;
}
.btn-login {
    background-color: #ff4f00;
    border-color: #ff4f00;
    color: white;
    width: 100%;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.btn-login:hover {
    background-color: #ff4f00;
    border-color: #ff4f00;
    color: white;
    transform: scale(1.05);
}
.btn-cancel {
    background-color: #001c58;
    border-color: #001c58;
    color: white;
    width: 100%;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.btn-cancel:hover {
    background-color: #001c58;
    border-color: #001c58;
    color: white;
    transform: scale(1.05);
}
.alert {
    display: none;
}
.input-group-text {
    background-color: #ff4f00;
    border: 1px solid #ff4f00;
    color: white;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}