.orange-form input[type="text"],
.orange-form input[type="password"],
.orange-form input[type="date"],
.orange-form select {
    background-color: white;
    color: #001c58;
    border: 1px solid #ff4f00;
    border-radius: 5px;
}

.orange-form input[type="text"]:focus,
.orange-form input[type="password"]:focus,
.orange-form input[type="date"]:focus,
.orange-form select:focus {
    border-color: #ff4f00;
    box-shadow: 0 0 5px rgba(208, 104, 27, 0.5);
    outline: none;
}

.orange-form input[type="text"]::placeholder,
.orange-form input[type="password"]::placeholder,
.orange-form input[type="date"]::placeholder,
.orange-form select::placeholder {
    color: #001c58;
}

.custom-footer {
    background-color: #001c58;
    color: white;
}

.btn-agregar {
    background-color: #ff4f00;
    border-color: #ff4f00;
    color: white;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn-agregar:hover {
    background-color: #ff4f00;
    border-color: #ff4f00;
    color: white;
    transform: scale(1.05);
}

.btn-editar {
    background-color: #ff4f00;
    border-color: #ff4f00;
    color: white;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn-editar:hover {
    background-color: #ff4f00;
    border-color: #ff4f00;
    color: white;
    transform: scale(1.05);
}

.btn-eliminar {
    background-color: #001c58;
    border-color: #001c58;
    color: white;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn-eliminar:hover {
    background-color: #001c58;
    border-color: #001c58;
    color: white;
    transform: scale(1.05);
}

.btn-exportar {
    background-color: #ff4f00;
    border-color: #ff4f00;
    color: white;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn-exportar:hover {
    background-color: #ff4f00;
    border-color: #ff4f00;
    color: white;
    transform: scale(1.05);
}

.btn-guardar {
    background-color: #2ec754;
    border-color: #2ec754;
    color: white;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn-guardar:hover {
    background-color: #2ec754;
    border-color: #2ec754;
    color: white;
    transform: scale(1.05);
}

.input-small {
    font-size: 12px;
}

.input-group-text {
    background-color: #ff4f00;
    border: 1px solid #ff4f00;
    color: white;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

.form-check-input {
    background-color: #ffffff;
}

.form-check-input:checked {
    background-color: #ff4f00;
    border-color: #ff4f00;
}

.nota-input {
    background-color: white;
    color: #001c58;
    border: 1px solid #ff4f00;
    border-radius: 5px;
}

.table-sticky {
    min-width: 1200px;
}

.table-sticky td:last-child,
.table-sticky th:last-child {
    position: sticky;
    right: 0;
}

.table-sticky th:last-child:before,
.table-sticky td:last-child:before {
  content: "\00a0";
  display: block;
  position: absolute;
  background: #fff;
  top: 0;
  right: -1px;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
}

.table-container-sticky {
    overflow-x: auto;
    width: 100%;
}

/* Estilos para el bootbox */
.bootbox-alert-modal,
.bootbox-confirm-modal,
.bootbox-modal {
    z-index: 1060 !important;
}

.bootbox-alert-modal + .modal-backdrop,
.bootbox-confirm-modal + .modal-backdrop,
.bootbox-modal + .modal-backdrop {
    z-index: 1059 !important;
}

.hide-number-arrows::-webkit-outer-spin-button, .hide-number-arrows::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; } .hide-number-arrows[type=number] { -moz-appearance: textfield; }